#carr_wrap button:hover {
	cursor: pointer;
}
#carr_wrap button:disabled {
	cursor: not-allowed;
}
#carr_wrap h3, #carr_wrap h4 {
	text-align: center;
}
#carr_wrap h4 {
	margin: 12px 0px;
}
#carr_wrap select:hover {
	cursor: pointer;
}
#carr_outputs_wrap {
	display: none;
}


#carr_wrap {
	width: 750px;
	margin: 30px auto;
}
#three_inputs_wrap {
	display: flex;
}
#three_inputs_wrap div label {
	display: block;
	margin: 10px auto;
	text-align: center;
	color: #0C6333;
	font-size: 18px;
	font-weight: 900;
}
#three_inputs_wrap div input {
	display: block;
	width: 80px;
	margin: 0 auto;
	color: #0C6333;
	text-align: center;
	border: none;
	border-bottom: 1px solid #0C6333;
}
#three_inputs_wrap div select {
	display: block;
	margin: 0 auto;
	text-align: center;
	border: 1px solid #0C6333;
	color: #676767;
}
#postcode_wrap {
	width: 230px;
	position: relative;
}
#pipe_wrap {
	width: 290px;
}
#address_wrap {
	width: 230px;
}
#post_error_info {
	color: red;
	display: none;
	position: absolute;
	margin: 0px;
	bottom: -20px;
	left: 0px;
}
#carr_wrap .carrInfos {
	color: #0C6333;
}
#carr_wrap .carrInfos:hover {
	cursor: pointer;
	color: red;
}

/*table*/

#carr_table_wrap {
	width: 600px;
	margin: 0 auto;
}
#carr_table_wrap p {
	text-align: left;
	padding-left: 10px;
	color: #676767;
	margin: 10px 0px;
}
#carr_table_wrap .carrTableRows {
	display: flex;
	border: 2px solid #e2e6e9;
	border-top: none;
}
#carr_table_wrap .carrTableRows > div {
	width: 33.3333%;
}
#carr_table_wrap .carrTableRows > div {
	border-right: 2px solid #e2e6e9;
}
#carr_table_wrap .carrTableRows > div:last-child {
	border-right: none;
}
#carr_table_wrap #carr_table_headline {
	border: 2px solid #03441e;
	background-color: #0C6333;
}
#carr_table_wrap #carr_table_headline > div {
	border-right: 2px solid #03441e;
}
#carr_table_wrap #carr_table_headline > div:last-child {
	border-right: none;
}
#carr_table_headline p {
	color: white;	
}



#carr_calc {
	display: block;
	width: 150px;
	margin: 40px auto;
	padding: 5px;
	text-align: center;
	font-size: 12px;
	font-weight: 700;
	background-color: #0C6333;
	color: white;
	border: none;
	border-radius: 3px;
}



/*@media (max-width: 1800px) {*/
@media (max-width: 1800px) {

}
