#carr_wrap button:hover {
	cursor: pointer;
}
#carr_wrap button:disabled {
	cursor: not-allowed;
}
#carr_wrap h3, #carr_wrap h4 {
	text-align: center;
}
#carr_wrap input {
	width: 60px;
}




/*Temporary CSS*/

#carr_wrap {
	width: 900px;
	margin: 30px auto;
}
#three_inputs_wrap {
	display: flex;
}
#three_inputs_wrap div {
	width: 300px;
}
#postcode_wrap {
	position: relative;
}
#post_error_info {
	color: red;
	display: none;
	position: absolute;
	top: 10px;
	left: 0px;
}

/*Tuffnells table*/

#carr_tuffnells_wrap {
	margin-top: 20px;
}
#carr_tuffnells_wrap p {
	text-align: center;
}
#tuff_headlines {
	display: flex;
	border: 1px solid black;
}
#tuff_headlines > div {
	width: 30%;
	border-right: 1px solid black;
}
#tuff_headlines #tuff_head1 {
	width: 10%;
}
#tuff_headlines #tuff_head4 {
	border: none;
}
#tuff_headlines p {
	padding-left: 2px;
}

#tuff_supp_headlines {
	display: flex;
	border: 1px solid black;
}
#tuff_supp_headlines > div {
	width: 20%;
	border-right: 1px solid black;
}
#tuff_supp_headlines #tuff_supp_head2 {
	width: 25%;
}
#tuff_supp_headlines #tuff_supp_head3 {
	width: 15%;
}
#tuff_supp_headlines #tuff_supp_head5 {
	border: none;
}
#tuff_supp_headlines p {
	padding-left: 2px;
}

#carr_calc {
	display: block;
	width: 150px;
	margin: 40px auto;
}



/*@media (max-width: 1800px) {*/
@media (max-width: 1800px) {

}
